* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header__portrait {
    position: relative;
    width: 300px;
    margin-bottom: 1rem;
}

.header__portrait img {
    height: auto;
    margin: auto;
    width: 90%;
    display: block;
}   




h1 {
    position: absolute;
    color: rgb(15, 133, 139);
    font-family: "Playfair Display", serif;
    bottom: -2px;
    text-shadow: 3px 3px 3px rgba(179, 19, 19, 0.082);
    font-size: 3.0rem;
    font-weight: 300;
    left: 1rem;
}




header {
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    margin-bottom: 3rem;
    padding-top: 2rem;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
}

.header__text {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: rgb(108, 108, 108);
    padding: 0 1rem;
    text-align: left;
    margin-bottom: 1rem;
}

.header__links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.header__links img {
    height: 2rem;
}

img {
    height: 20px;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-style: normal;
}

.main__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.card {
    width: 90%;
    margin: auto;
    box-shadow: 10px 10px 55px -25px rgba(0,0,0,0.75);
}

main h2, header h2 {
    margin-bottom: 1rem;
}


main {
    max-width: 1200px;
    margin: 0 auto 10rem;   
}

.card__screenshot {
    width: 100%;
    aspect-ratio: 16 / 9; /* Consistent width-to-height ratio */
    overflow: hidden; 
    border-radius: 8px; 
    background-color: #f0f0f0; 
}


.card__screenshot img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; /* Entire image fits within the container without cropping */
    object-position: center; 
}



.card__links {
    display: flex;
    gap: 0.8rem;
}

.card__description {
    font-family: "Roboto", sans-serif;
    color: rgb(108, 108, 108);    
}

.information__top {
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 500;
    color: rgb(4, 0, 255);
}

.card__information {
    padding: 1rem 1.5rem 4rem 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    color: white;
    background-color: #0991b2;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

footer  h2 {
    font-family: "Playfair Display", serif;
}

address {
    font-size: 0.9rem;
}

.address__icon {
    display: none;
}

.footer__links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer_logo {
    height: 30px;
}

.footer__contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

address {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


footer picture img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

@media (min-width: 700px) {

    header { 
        padding-top: 6rem;
    }


    .header__wrapper {
        display: block;
        background-color: white;
        width: 80%;
        margin: auto;
        padding: 4rem 1rem;
        box-shadow: 10px 10px 55px -25px rgba(0,0,0,0.75);
    }

    .header__portrait {
        float: left;
        transform: scale(1.4);
        margin: 0 3rem 1rem 0;
        transform-origin: bottom;
    }

    h1 {
        left: 200px;
        top: -5px;
        font-size: 2rem;
        width: 300px;
        color: rgb(250, 252, 248);
    }

    .header__text {
        width: 100%;
        line-height: 2rem;

    }

    .header__links {
        display: none;
    }


    .cards {
        padding: 0 4rem;
    }

    .information__top {
        padding: 0;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer__links {
        justify-content: left;
    }

    .address__icon {
        display: inline;
    }

    footer  h2 {
        text-align: left;
    }

    footer picture img {
        height: 500px;
        padding: 2rem;
    }

    .footer__contacts {
        gap: 1rem;
        padding-left: 2rem;
    }

    .footer__contacts > h2 + div {
        max-width: 300px;
    }
}

@media (min-width: 1024px) {

    header {
        margin-bottom: 10rem;
    }
    
    .header__portrait {
        margin-right: 5rem;
        transform-origin: center;
        transform: scale(1.6);
    }

   
    h1 {
        top: 13.5rem;
        left: 1.5rem;
        color: rgb(15, 133, 139);
        /* font-size: 2rem;
        width: 265px; */
    }

    header h2 {
        text-align: left;
    }

    .header__links {
        display: flex;
        justify-content: end;
    }

    .header__text {
        padding: 0;
    }

    footer picture img {
        height: 400px;
        width: auto;
    }
}