* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 2;
   
   
   
}
body {
    display: flex;
    margin-inline: auto;

    min-height: 100vh;
}


html {
    background-color: #202020;
}

@font-face {
    font-family: 'Norse';
    src: url("./fonts/Norse-Bold.otf")format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center ;
}

/* .bg-img {
    height: 100vh;
    position: absolute; } */


.sidebg-container {
    background: url('./tree.jpg');
    background-size: cover;
    height: 100vh;
    width: auto;
    background-position: center center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
   
    
   
    

}

.odin-logo {
    width: 75px;
}

.odin-logo-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 500px;
    padding: 20px 120px;
    background-color: rgb(0, 0, 0, 0.5);
}

.odin-logo-container > p {
    font-family: 'Norse', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5.5rem;
}

.sidebg-container > p {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    color: white;
}

.sidebg-link, .sidebg-link:visited {
    color: white;
}

.signup-container {
    background-color: rgb(245, 244, 244);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
   
}

.signup-container > div {
    padding-left: 20px;
    padding-right: 40px;
}

.signup-header {
    
    font-weight: 50px;
    
font-style: bold;}

/* p{
    margin-top: 5px; 
} */
.vin{
    margin-top: 50px; 
    font-weight: bold;



}
.vinc{
    
    font-weight: bold;


}

/* .signup-header > p:nth-child(1) {
    /* padding-top: 1px; */
    /* margin-top: 5px; */
    /* margin-bottom: 10px;} */
 


.form-container {
    background-color: white;
    padding-top: 0;
    height: 450px;
    /* margin-top: 15px;
    margin-bottom: 25px; */
    box-shadow:  5px 0.5px 2px 3px rgba(0, 0, 0, 0.15);
}



.login-link, .login-link:visited {
    color: black;
}

.form-container > p {
    font-size: 1.2rem;
}

input {
    display: block;
}

form {
    display:flex;
    gap: 10px 40px;
    flex-flow: row wrap;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 15px;
}

label {
    font-size: 0.9rem;
}

input {
    width: 250px;
    padding: 2px 5px;
    border-radius: 4px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.078);
}

input:focus {
    outline: none;
}

input:focus, input:hover {
    border: 2px solid rgb(0, 106, 255);
}

input[type="password"]:valid {
    border: 2px solid rgba(3, 176, 3, 0.505)
}

input[type="password"]:invalid {
    border: 2px solid rgba(255, 0, 0, 0.522)
}

#password:invalid + p::before {
    content: "* Passwords do not match";
    color: red;
    font-size: 0.8rem;
}
#confirm-password{
   
   border-color:  red;
    
}

#password:valid + p::before {
    content: "";
}

button {
    padding: 5px 40px;
    border-radius: 6px;
    background-color: #596D48;
    color: white;
    font-weight: 150;
}

.signup-footer > p {
    margin-top: 5px;
}
.signup-footer {
    height: 400px;
    padding: 20px;
}
    
